<%- include ../partials/header %>
            <div class="container-fluid search">
                    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                        <% parsedData.forEach(function(brewery) { %>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <img src="https://img.grouponcdn.com/deal/crg8hnSc6RQdFUUfBGWq/uh-700x420/v1/c700x420.jpg">
                                <div class="caption">
                                    <h4><%= brewery.name %> - <%= brewery.city %>, <%= brewery.state %> (<a href="<%= brewery.website_url %>">Website</a>)</h4>
                                </div>
                                <p>
                                    <a class ="btn btn-primary" href="">More Info</a>
                                </p>
                            </div>
                        </div>
                    <% }); %>
                    </div>


                </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
            </footer>
<%- include ../partials/footer %>